@model IMDB.Models.Actor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/AddActors.css" rel="stylesheet" />
    <link href="~/Content/CSS/NavBar.css" rel="stylesheet" />
    <title>AddActorsPage</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <div><a href="~/AdminView/AdminHomePage"><img src="~/Content/Images/imdb-logo.svg" class="logo"></a></div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Movies section" class="admin-menu">Movies</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Movies" class="show">Show All Movies</a>
                                <a href="~/AdminView/AddMovies">Add New Movie</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Actors section" class="admin-menu">Actors</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Actors" class="show">Show All Actors</a>
                                <a href="~/AdminView/AddActors">Add New Actor</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href="#" title="Directors section" class="admin-menu">Directors</a>
                            <div class="dropdown-content">
                                <a href="~/AdminView/Directors" class="show">Show All Directors</a>
                                <a href="~/AdminView/AddDirectors">Add New Director</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="~/Content/Images/man.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Admin</span>
                </div>
            </div>
        </div>
    </div>

    <div class="addform">
        <h1>Add Actor</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="submit-button-container">
                        <input type="submit" value="Create" class="submit-button" />
                    </div>
                </div>
            </div>
        }


    </div>
</body>
</html>
