
@model IEnumerable<IMDB.Models.Director>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/CSS/ShowDirectors.css" rel="stylesheet" />
        <title>DirectorsPage</title>
    </head>
    <body>
        @Html.Partial("NavBarAdmin")
        <div class="big">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if(item.Director_ID != 4)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td class="button">
                        @Html.ActionLink("Edit", "EditDirector", new { id = item.Director_ID })
                    </td>
                    <td class="button">
                        @Html.ActionLink("Delete", "DeleteDirector", new { id = item.Director_ID })
                    </td>
                </tr>
                    }
                }

            </table>
        </div>
        <script src="~/Content/JS/Directors.js"></script>
    </body>
</html>


