@model IEnumerable<IMDB.Models.Movie>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/CSS/ShowMovies.css" rel="stylesheet" />

    <title>MoviesPage</title>
</head>
<body>
    @Html.Partial("NavBarAdmin")
    <div class="big">
        <table class="table">
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.Movie_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie_TLink)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie_Name)
                    </td>
                    <td>
                        <img class="images" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Img))">
                    </td>
                    <td>
                        <a href="@item.Movie_TLink" target="_blank">Trailer</a>
                    </td>
                    <td class="button">
                        @Html.ActionLink("Edit", "EditMovie", new { id = item.Movie_ID }) 
                    </td>

                    <td class="button">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Movie_ID })
                       
                    </td>

                    <td class="button">
                        @Html.ActionLink("Assign", "MovieToActor", new { id = item.Movie_ID })
                    </td>
                </tr>
            }

        </table>
    </div>
    
    <script src="~/Content/JS/upload.js"></script>
</body>
</html>


