@model IMDB.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Register</title>

    <link href="~/Content/CSS/register.css" rel="stylesheet" />


</head>
<body>
    <span class="Logo">
        <a href="~/Home/Home"> <img src="~/Content/Images/imdb-logo.svg" class="logo" alt="IMDb.com logo"></a>
    </span>
    <div class="All">
            @using (Html.BeginForm("Register", "LoginRegister", FormMethod.Post))
            {
                            @Html.AntiForgeryToken()
        <div class="Form-Details">
            <h1 class="a-spacing small"> Create Account </h1>
            <div class="form-group">

                @Html.LabelFor(x => x.FName)
                @Html.TextBoxFor(m => m.FName, new { @class = "textinput", size = "50" })
                @Html.ValidationMessageFor(m => m.FName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                @Html.LabelFor(x => x.LName)
                @Html.TextBoxFor(m => m.LName, new { @class = "textinput", size = "50" })
                @Html.ValidationMessageFor(m => m.LName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "textinput", size = "50" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "textinput", size = "50" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


            </div>
            <input type="submit" id="submit-btn" class="Submit" required value="Create your IMDb Account" />
           
            <div class="login">
                <p>Already have an account? @Html.ActionLink("Sign-In", "Login") </p>
                <label class="Submit">@ViewBag.Notification</label>

            </div>
        </div>
              }  
         </div>
         
</body>
</html>
