<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div>
        <div class="navbar">
            @RenderSection("navbar", true)
            <div class="navbar-container">

                <div class="logo-container"><img src="~/Content/Images/imdb-logo.svg" class="logo" alt="User Photo"></div>
                <div class="menu-container">
                    <ul class="menu-list">

                        <li class="menu-list-item search">
                            @using (Html.BeginForm("Search", "Search", FormMethod.Post))
                            {

                                <input size="50"  type="text" name="SearchValue" placeholder="Search.." />
                                <button class="SearchBTN" type="submit" value="Search"><i class="fa fa-search"></i></button>
                            }
                        </li>

                    </ul>
                </div>
                @if (Session["UserName"] !=null)
                {
                <div class="profile-container">
                    <div class="profile-text-container">
                        
                        <span class="profile-text">@Html.ActionLink(Session["UserName"].ToString(), "ProfileSettings", "UserProfile",null ,new {@class = "ProfileSettingsBtn" })</span>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Logout", "Login","LoginRegister")
                </div>
                }

                else
                {
                    @Html.ActionLink("Sign In", "Login", "LoginRegister",null, new { @class = "profile-text" })
                }
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
